<form action="/data" method = "POST">
    <p>age <input type = "number" name = "age" required/></p>
    <p>sex <input type = "text" name = "sex" required/></p>
    <p>cp <input type = "number" name = "cp" required/></p>
    <p>trestbps <input type = "number" name = "trestbps" required/></p>
    <p>chol <input type = "number" name = "chol" required/></p>
    <p>fbs <input type = "number" name = "fbs" required/></p>
    <p>restcg <input type = "number" name = "restcg" required/></p>
    <p>thalach <input type = "number" name = "thalach" required/></p>
    <p>exang <input type = "number" name = "exang" required/></p>
    <p>oldpeak <input type = "number" name = "oldpeak" required/></p>
    <p>slope <input type = "number" name = "slope" required/></p>
    <p>ca <input type = "number" name = "ca" required/></p>
    <p>thal <input type = "number" name = "thal" required/></p>
    <p><input type = "submit" value = "Submit" required/></p>
</form>